body {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  min-width: 960px; 
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.main-page-fon {
  background: #000 url("../img/fon.jpg") no-repeat center top;
}

.add-page-fon {
  background: #f3f0ed  url('../img/pattern-index-content.jpg');
}

/*header*/

.main-header {
  background: #000;
  margin-bottom: 60px;
}

.main-navigation {
  font-size: 0;
  float: left;
  width: 780px;
}

.user-block {
  float: right;
  max-width: 140px;
  position: relative;
}

.user-block a:before {
  content: "";
  background: url("../img/user-block.png") no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: .3;
  top: 28px;
  left: 10px;
}

.user-block a:hover:before {
  opacity: 1;
}

.user-block a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 25px 22px 25px 42px;
}

.user-block a:hover {
  background: #242424; 
}

.main-navigation li {
  display: inline-block; 
  vertical-align: top;
  list-style: none; 
}

.main-navigation li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  display: block;
  padding: 25px 22px;
}

.main-navigation .active {
    position: relative;
}

.main-navigation .active a:after {
  content: "";
  background: #fff;
  height: 5px;
  position: absolute;
  left: 22px;
  right: 22px;
  bottom: 0;
}

.main-navigation li a:hover {
  background: #242424;
}

/*end of header*/


/*index*/

.logo {
  width: 368px;
  height: 204px;
  margin: 0 auto 25px auto;
}

.features-row {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.features-title {
  font-size: 30px;
  line-height: 42.33px;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 35px;
}

.features-title:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  display: block;
  bottom: 0;
  left: 50%;
  transform: rotate(45deg);
  margin-left: -10px; 
}

.features-item:last-child {
  margin-right: 0px;
}


.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  background: 
    url('../img/divider.png') no-repeat center,
    #f9f6f3 url('../img/pattern-index-content.jpg'); 
  color: #000;
  width: 100%;
  box-sizing: border-box;
}

.index-content:last-child{
  margin-bottom: 65px;
}

.content-column-left {
  width: 350px;
  float: left;
}

.content-column-right {
  width: 300px;
  float: right;
}

.content-column-title {
  margin: 0;
  font-size: 30px;
  line-height: 42.33px;
  margin-bottom: 25px;
}

.index-content time {
  text-transform: none;
  font-family: "Georgia Italic", serif;
  font-style: italic;
  font-weight: normal;
}

.news-preview li {
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none; 
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 14px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  margin-right: 16px;
  padding: 10px 33px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:active,
.btn:hover {
  background: #663d15;
}

.btn:disabled {
  opacity: 0.5;
  cursor: none;
}

.btn:disabled:hover {
  background: #000;
}

.gallery {
  height: 260px;
  position: relative;
}

.gallery-content {
  height: 164px;
  margin: 0;
  border: 7px solid #fff;
  background-color: silver;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  width: 140px;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.gallery-prev {
  left: 0;
}


.gallery-next {
  right: 0;
}

.main-contacts p {
  margin-bottom: 25px;
}

.appointment-form p {
  margin-bottom: 30px;
}

.appointment-form input {
  width: 106px;
  padding: 10px 15px;
  border: 2px solid #000; 
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background: #f9f6f3;
  outline: none;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

.appointment-form input:nth-child(even) {
  margin-right: 0;
}

.appointment-form input:focus{
  border: 2px solid #663d15;
}

.appointment-form button {
  width: 100%;
}

/*end of index*/

/*price*/

.pattern-fon {
  color: #000;
  background: #f3f0ed  url('../img/pattern-index-content.jpg');
}
  
.head-title-block {
  margin-bottom: 50px;
}


.head-title {
  font-size: 30px;
  line-height: 42.33px;
  margin: 0;
  margin-bottom: 10px;
}


.head-title-block .bread-crump:after {
  content:'';
  display: block;
  width: 6px;
  height: 6px ;
  background: #000;
  position: absolute;
  top: 25% ;
  left: 140% ;
  transform: rotate(45deg);
}

.main-title {
  margin-bottom: 55px;
  text-align: center;
}

.main-title h2 {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  display: inline;
  position: relative;
  margin: 0;
  padding: 0 25px;
  z-index: 2;
  background: #f8f3f0 url('../img/pattern-index-content.jpg') repeat;
}

.main-title:after {
  content: '';
  display: block;
  position: relative;
  border: 1px solid #000;
  top: -25px;
  z-index: 1;
}

.content-block-top-left {
  float: left; 
  width: 240px;
  margin-right: 240px;
  margin-bottom: 60px;
}

.content-title {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}


.content-block-top-left ul {
  padding: 0;
  margin: 0;
  list-style: none;
} 

.content-block-top-left ul li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px;
}

.content-item a {
  text-decoration: none;
  color: #000;
}

.content-block-top-left ul li:last-child {
  margin-bottom: 0;
}


.content-block-top-left ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 33%;
  left: 2px;
  width: 6px;
  height: 6px;
  background: #000;
  transform: rotate(45deg);
}

.content-title-top-right {
  float: right;
  width: 460px;
  margin-bottom: 60px;
}

.title-price {
  margin-bottom: 36px;
}

/*TABLE-BLOCK*/
table {
  width: 460px;
  border-collapse: collapse;
}

tr {
  
}

td {
  width: 50%;
  padding: 10px;
  border: 2px #000 solid;
}
.td-price{
  text-align: center;
}
/*END OF TABLE-BLOCK*/

.content-title-bottom {
  margin-bottom: 75px;
}

.title-about {
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 42.33px;
}

.left-column-block {
  float: left; 
  width: 380px;
  margin-right: 100px;
}

.right-column-block {
  float: right;
  width: 380px;
}

/*end of price*/

/*catalog*/

.main-content-title {
  font-size: 30px;
  line-height: 42.33px;
  margin: 0;
  margin-bottom: 15px;
}

.choice-list {
  width: 220px;
  float: left;
  margin: 0 20px 0 0;
  float: left;
}

.choice-title {
  font-size: 24px;
  line-height: 42.33px;
  margin: -10px 0 0;
}

.choice-list form li {
  margin-bottom: 15px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  padding-left: 42px;
}

input[type="checkbox"] + label:hover {
  color: #663d15;
}

input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  top: 1px;
  left: 0;
}

input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/cross.png) no-repeat;
  top: 5px;
  left: 4px; 
}

input[type="checkbox"]:disabled + label {
  opacity: 0.3;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  padding-left: 42px;
}

input[type="radio"] + label:hover {
  color: #663d15;
}

input[type="radio"] + label:before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 100%;
  top: 1px;
  left: 0;
}

input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: #000;
  top: 7px;
  left:6px; 
  border-radius: 100%;
}

input[type="radio"]:disabled + label {
  opacity: 0.3;
}

.choice-list ul {
  margin-bottom: 50px;
}

.trade-group-block {
  width: 700px;
  float: right;
}

.photo-block {
  font-size: 0;
  float: right;
  margin-bottom: 25px;
}

.img-block {
  font-size: 16px;
  display: inline-block;
  width: 220px;
  height: 286px;
  vertical-align: top;
  background: #fff;
  margin: 0 20px 20px 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.img-block:nth-child(3n) {
  margin-right: 0;  
}

.img-block img {
  margin-bottom: 15px;
}

.img-block a {
  text-decoration: none;
  color: #000;
}

.content-title-catalog {
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  padding: 0 16px;
}

.normal-height {
  font-size: 14px;
  display: block;
  text-transform: none;
  line-height: 18px;
  margin-bottom: 15px;
  padding-left: 16px;
}

.price-block {
  text-align: center;
  font-size: 0;
}

.pay-btn,
.price {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 15px 0;
}

.price {
  width: 109px;
  background: #e5e5e5;
} 

.pay-btn {
  width: 78px;
  background: #000;
}

.pay-btn:hover {
  width: 78px;
  cursor: pointer;
  background: #663d15;
}

.pay-btn .buying-btn {
  text-decoration: none;
  color: #fff;
}

.page-panel {
  clear: both;
  margin-bottom: 45px;
}

.page-block {
  display: inline-block;
  vertical-align: top;
}

.page {
  font-size: 14px;
  line-height: 18px;
  display: block;
  text-decoration: none;
  color: #fff;
  background: #000;
  text-align: center;
  padding: 13px 20px;
}

.current {
  background: #fff;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 13px 20px;
}

.page:hover {
  background: #663d15;
}

/*end of catalog*/

/*item*/

.bread-crumps {
  margin-left: 5px;
  margin-bottom: 30px;
  
}

.bread-crumps ul {
  font-size: 0;
  list-style: none;
  padding: 0;
}

.bread-crumps-item {
  display: inline-block;
  font-size: 14px;
  margin-right: 30px;
  position: relative;
}

.crump-symbol:after {
  content:'';
  width: 6px;
  height: 6px;
  background: #000;
  display: inline-block; 
  position: relative;
  top: -0.11em;
  left: 14px;
  transform: rotate(45deg)
}

.bread-crumps-item a {
  text-decoration: none;
  color: #000;
}

.active-bread {
  opacity: 0.5;
}

.item-gallery-block {
  width: 460px; 
  float: left;
  margin-bottom: 80px;
  font-size: 0;
  line-height: 0;
}

.main-image,
.image {
  font-size: 14px;
  display: inline-block; 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-image {
  margin-bottom: 20px;
}

.image {
  margin-right: 20px;
}

.image:last-child {
  margin-right: 0px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

.price-description-block {
  width: 390px; 
  float: right;
  margin-bottom: 75px;
}

.price-head-title {
  font-size: 30px;
  line-height: 43.33px;
  margin: -7px 0 5px;
  padding: 0;
}

.content-title-item {
  font-size: 24px;
  line-height: 42.33px;
}

.item-name {
  margin: 0 0 30px 0;
}

.price-item {
  margin-bottom: 35px;
  font-size: 0;
}

.price-btn {
  display: inline-block;
  vertical-align: top;
  background: #e5e5e5;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 14px;
}

.buy-btn {
  display: inline-block; 
  font-size: 14px;
  line-height: 14px;
  padding: 15px 20px;
  background: #000;
}

.buy-btn:hover {
  background: #663d15;
}

.buy-btn a {
  text-decoration: none;
  color: #fff;
}

.remaining-block {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.remaining {
  float: left;
}

.article {
  float: right;
  color: #aeaeae;
  margin-right: 10px;
}

.description {
  margin-bottom: 60px;
}

.kit-content {
  margin-bottom: 0;
}

.kit-content .content-title {
  margin-bottom: 25px;
}

.kit-content ul {
  list-style: none;
  padding: 0;
}

.content-item-list {
  padding-left: 20px;
  position: relative;
}

.content-item-list:before {
  content: '';
  width: 6px;
  height: 6px ;
  background: #000;
  display: block; 
  position: absolute;
  transform: rotate(45deg);
  top: 0.6em;
  left: 0.2em;
}

/*end of item*/

/*footer*/

.main-footer {
  color: #fff;
  background: #222222 url('../img/pattern-footer.jpg');
  padding: 60px 0;
}

.main-footer p {
  margin-bottom: 5px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 80px;
}

.footer-contacts a{
  color: #fff;
}

.footer-social {
  width: 140px;
  float: left; 
  text-align: center;
}

.social-btn {
  font-size: 0px;
  display: block;
  width: 43px;
  height: 43px;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  
}

.footer-copyright {
  float: right;
  max-width: 320px;
  text-align: center;
}

.copyright-btn {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  background: #000;
}

.footer-copyright a{
  margin: 0;
}
  
.social-btn-vk {
  background: #000 url('../img/vk-icon.png') no-repeat center;  
}

.social-btn-fb {
  background: #000 url('../img/f-icon.png') no-repeat center;
}

.social-btn-inst {
  background: #000 url('../img/i-icon.png') no-repeat center;
  margin-right: 0;
}

.social-btn-vk:hover {
  background: #fff url('../img/vk-icon-reverse.png') no-repeat center;
}

.social-btn-fb:hover {
  background: #fff url('../img/f-icon-reverse.png') no-repeat center;
}
.social-btn-inst:hover {
  background: #fff url('../img/i-icon-reverse.png') no-repeat center;
  margin-right: 0;
}


.footer-copyright .copyright-btn:hover {
  background: #fff;
  color: #000;
}

/*end of footer*/

/*modal-content*

.modal-content {
  width: 300px;
  padding: 50px 80px;
  margin-left: -230px;
  margin-top: 150px;
  position: absolute;
  top: 0;
  left: 50%;
  background: #f8f3f0 url('../img/pattern-index-content.jpg') repeat;
  color: #000;
  box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

.modal-content-close {
  font-size: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  background: url('../img/close-symbol(png-8).png') no-repeat;
  top: 0px;
  right: -50px;
  z-index: 5;
  cursor: pointer;
  opacity: .4;
}

.modal-content-close:hover {
  opacity: .8;
}

.modal-header {
  font-size: 30px;
  line-height: 42.33px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}


.login-form input[type="text"] {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 300px;
  padding: 10px 40px 10px 15px;
  position: relative;
  
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  
  border: 2px solid #000;
  box-sizing: border-box;
  outline: none;
  background: #f9f6f3;
}


.login-form input[type="password"] {
  margin-bottom: 15px;
}

.login-form input:focus {
border-color: #663d15;
}

.login-form input.icon-login {
  background: url(../img/user-icon-modal-form.png) no-repeat 270px;
}

.login-form input.icon-password {
  background: url(../img/locket-icon-modal-form.png) no-repeat 270px;
}

.login-form input[type="checkbox"] + label {
  padding-left: 32px;
  margin-bottom: 15px;
}

.forgot-password {
  color: #000;
  float: right;
}

.enter-btn{
  width: 300px;
}

/*end of modal-content*/